/* STYLING CHOICES

COLORS
- dark: #292621
- light: #cfbda4 */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.4;
  color: #292621;
}

.header {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 50px;
  background-color: #292621;
  color: #cfbda4;
}

.header-content {
  font-weight: 400;
  letter-spacing: 2px;
}

.profile-img {
  width: 250px;
  border: 3px solid #cfbda4;
  border-radius: 50%;
}

.header-name {
  text-transform: uppercase;
  font-size: 54px;
  font-weight: 400;
  letter-spacing: 10px;
}

.header-intro {
  font-size: 22px;
}

.header-contact {
  font-size: 16px;
  font-weight: 300;
  padding-left: 0;
  list-style-type: none;
}

.header-icons {
  padding-right: 18px;
  color: rgb(207, 189, 164, 0.6);
}

.heading-secondary {
  text-transform: uppercase;
  letter-spacing: 8px;
}

.heading-secondary-icon {
  display: flex;
  align-items: center;
  gap: 24px;
  border-bottom: 2px solid #cfbda4;
}

.heading-tertiary { 
  margin: 0;
  padding-bottom: 0; /*reason: to bring two h3 headings closer to each other to unite them*/
}

.heading-tertiary a {
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  color: #292621;
}

#menu {
  padding-left: 40px; /*levelling with navigation list towards center of sidebar*/
}

.nav-menu {
  position: sticky;
  top: 0;
  width: 350px;
  padding: 48px;
}

.navlist {
  text-transform: uppercase;
  list-style-type: none;
  line-height: 2;
  letter-spacing: 1px;
  margin-bottom: 72px;
}

.navlist a {
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  color: #292621;
}

.sidebar-main {
  display: flex;
}

.sidebar {
  background-color: #cfbda4;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 48px;
}

.content-icons {
  width: 20px;
  height: 20px;
  border: 2px solid #292621;
  border-radius: 50%;
  padding: 8px;
  background-color: rgb(207, 189, 164, 0.8);
}

.contentblock {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about-me-text,
.contentlist {
  margin-top: 0; /*consistent spacing underneath h2 headings*/
}

.skills-software,
.interest-list {
  display:flex;
  gap: 64px;
}

.softwareblock {
  flex: auto; /*consistent underline stretch*/
}

.footer {
  text-align: center;
  padding: 32px;
  background-color: #292621;
}

.footer a {
  text-decoration: none;
  margin: 4px;
}

.footer-icons {
  font-size: 48px;
  color: #cfbda4;
}


